.right__content {
  box-shadow: 10px 10px 8px lightgray;
  width: 500px;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.rightcard {
  margin-bottom: 10px;
}

.first__row {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.second__row {
  color: dimgrey;
  margin-top: 10px;
  text-align: justify;
}

.ansbtn {
  background-color: lightblue;
  border-radius: 50%;
  color: maroon;
  border-color: transparent;
  width: 2rem;
  height: 2rem;
  align-items: center;
}
